.register {
    background-color: #a3da9d;
    border-radius: 10px;
    text-align: center;
    padding: 5px 40px 20px;
    margin: 10px 10px;
  }
  
  .input {
    border: 8px solid blueviolet;
    width: 550px;
  }
  
  .sign-in-btn {
    margin-top: 0px;
  }
  
  :where(.css-dev-only-do-not-override-vryruh).ant-btn-variant-outlined,
  :where(.css-dev-only-do-not-override-vryruh).ant-btn-variant-dashed {
    background-color: #4a4848;
  }
  
  .layout {
    height: 100vh;
  }
  
  .sider {
    background-color: #ffdede;
    overflow: hidden !important;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .layout {
    overflow: auto;
  }
  
  :where(.css-dev-only-do-not-override-vryruh).ant-layout {
    background-color: #000000;
  }
  
  .menu {
    margin: 15px;
    width: 85%;
    border-radius: 10px;
    margin-bottom: 430px;
  }
  
  :where(.css-dev-only-do-not-override-vryruh).ant-menu-dark .ant-menu-item-selected {
    background-color: #2E2E2E;
  }
  
  :where(.css-dev-only-do-not-override-vryruh).ant-menu-dark {
    background-color: #000000;
  }